@import '~assets/variables';

html {
	font-family: 'Cormorant Garamond', serif, 'Helvetica Neue', Arial,
		sans-serif;
	font-size: 16px;
	word-spacing: 1px;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	box-sizing: border-box;
}

html,
body {
	width: 100%;
	height: 100%;
}

body::-webkit-scrollbar {
	display: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
}

a {
	text-decoration: none;
}

ul {
	list-style-type: none;
	padding: 0px;
}

button {
	font-family: 'Cormorant Garamond', serif, 'Helvetica Neue', Arial,
		sans-serif;
	font-weight: 600;
	letter-spacing: 1px;
	cursor: pointer;
	border: none;
	text-decoration: none;
}

button:focus {
	outline: 0;
}

.submit-button {
	align-items: center;
	color: white;
	background-color: $black;
	font-size: 1.8rem;
	line-height: 1.5;
	transition: opacity 0.2s ease-out;

	&:not([disabled]):hover {
		opacity: 0.4;
	}

	&:disabled {
		background-color: $grey;
		cursor: not-allowed;
	}
}

img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

nav {
	li {
		a {
			color: $black;
		}
	}
}

textarea {
	resize: none;
}

input,
textarea,
select {
	font-size: 1em;
	font-family: inherit;
	padding: 0.25em 0.5em;
	background-color: #fff;
	border: 1px solid $grey;

	&:focus {
		outline: 0.5px solid $grey;
	}

	&:not(textarea):not([type='radio']) {
		line-height: 1;
		height: 2.25rem;
	}
}

select {
	appearance: none;
	background-color: transparent;
	margin: 0;
	width: 100%;
	font-family: inherit;
	font-size: inherit;
	cursor: inherit;
	line-height: inherit;
	outline: none;
}

.form-input {
	display: flex;
	flex-direction: column;
	label {
		margin-bottom: 0.5rem;
	}
}

input[type='radio'] {
	position: absolute;
	z-index: -1;
	opacity: 0;
}
input[type='radio'] + label {
	position: relative;
	padding: 0 0 0 40px;
	cursor: pointer;
}
input[type='radio'] + label:before {
	content: '';
	position: absolute;
	top: -3px;
	left: 0;
	width: 22px;
	height: 22px;
	border: 1px solid $grey;
	border-radius: 50%;
	background: #fff;
}
input[type='radio'] + label:after {
	content: '';
	position: absolute;
	top: 2.5px;
	left: 5.5px;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background: $accent;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.5);
	opacity: 0;
	transition: 0.2s;
}
input[type='radio']:checked + label:after {
	opacity: 1;
}
input[type='radio']:focus + label:before {
	box-shadow: 0 0 0 3px $accent-2;
}

input[type='file'] {
	height: 0;
	overflow: hidden;
	width: 0;
	display: none;
}

input[type='file'] + label {
	width: 50%;
	background: transparent;
	border: 1px solid $black;
	color: $black;
	cursor: pointer;
	font-size: inherit;
	font-weight: 500;
	margin-bottom: 1rem;
	outline: none;
	padding: 1rem;
	position: relative;
	transition: all 0.3s;
}

input[type='checkbox']:checked,
input[type='checkbox']:not(:checked) {
	position: absolute;
	left: -9999px;
}

input[type='checkbox']:checked + label,
input[type='checkbox']:not(:checked) + label {
	display: inline-block;
	position: relative;
	padding-left: 28px;
	line-height: 20px;
	cursor: pointer;
}

input[type='checkbox']:checked + label:before,
input[type='checkbox']:not(:checked) + label:before {
	content: '';
	position: absolute;
	left: 0px;
	top: 0px;
	width: 20px;
	height: 20px;
	border: 1px solid $grey;
	background-color: white;
}

input[type='checkbox'].error-field + label:before{
	border: 1px solid $error-border;
}

input[type='checkbox']:checked + label:before,
input[type='checkbox']:not(:checked) + label:before {
	border-radius: 2px;
}

input[type='checkbox']:checked + label:after,
input[type='checkbox']:not(:checked) + label:after {
	content: '';
	position: absolute;
	transition: all 0.2s ease-out;
}

input[type='checkbox']:checked + label:after,
input[type='checkbox']:not(:checked) + label:after {
	left: 5px;
	top: 1px;
	width: 10px;
	height: 15px;
	border-radius: 1px;
	border-left: 4px solid $accent;
	border-bottom: 4px solid $accent;
	transform: rotate(-45deg);
}

input[type='checkbox']:not(:checked) + label:after {
	opacity: 0;
}

input[type='checkbox']:checked + label:after {
	opacity: 1;
}
a.nuxt-link-exact-active {
	color: $accent;
}
.logo .nuxt-link-exact-active {
	color: $black;
}
.container {
	max-width: 1561px;
	margin: 0 auto;
}

.error-field {
  border-color: $error-border;
}
