$black: #222; 
$grey: #ccc;
$white: rgb(228, 228, 228);
$trans-black: rgba(0, 0, 0, 0.493);

$accent: deeppink;
$accent-2: rgb(255, 161, 211);

$error-message: red;
$error-border: red;

$note-light: rgb(252, 251, 172);

$margin-from-h: 1rem;

$border-thin: 1px solid $grey;
