$black: #222; 
$grey: #ccc;
$white: rgb(228, 228, 228);
$trans-black: rgba(0, 0, 0, 0.493);

$accent: orange;
$accent-2: rgb(255, 196, 86);

$error-message: red;
$error-border: red;

$margin-from-h: 1rem;
